<style>
  body {
    background-color: #89A5BE;
    font-family: 'Arial';
  }

  .col-md-4 {
    margin-left: 16%;
    margin-top: 5rem;
  }

  .all_input {
    width: 200%;
    margin-bottom: 2rem;
  }

  .btn-primary {
    width: 200%;
    height: 2.5rem;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    color: black;
  }

  .lik-sec {
    width: 200%;
    margin-top: 2rem;
  }
</style>

<div class="container-fluid">
    <div class="col-md-4">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-group">
              <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name", class: "form-control all_input" %>
            </div>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control all_input" %>
            </div>
            <div class="form-group">
              <%= f.text_field :bio, autofocus: true, autocomplete: "bio", placeholder: "Bio", class: "form-control all_input" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control all_input" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control all_input" %>
            </div>

            <div class="form-group">
              <%= f.text_field :role, autofocus: true, autocomplete: "role", placeholder: "Role (admin or author)", class: "form-control all_input" %>
            </div>
            
            <div class="text-center" style="margin-top: 20px;">
              <%= f.submit "Sign up", class: "btn btn-primary" %>
            </div>
          <% end %>
          <div class="lik-sec">
            <%= render "devise/shared/links" %>
          </div>
    </div>
</div>
